src/main/app/maven-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
    <db:derby-config name="Derby_Configuration" url="jdbc:derby:memory:muleEmbeddedDB;create=true" doc:name="Derby Configuration"/>
    <spring:beans>
        <spring:bean id="Bean" name="Bean" class="com.mulesoft.training.Database"/>
    </spring:beans>
    <flow name="mavenFlow">
        <set-payload value="#[&quot;Hello Maven&quot;]" doc:name="Set Payload"/>
    </flow>
    <flow name="retrieveFlights">
        <db:select config-ref="Derby_Configuration" doc:name="DatabaseQueryFlights">
            <db:parameterized-query><![CDATA[select * from flights]]></db:parameterized-query>
        </db:select>
        <object-to-string-transformer doc:name="Object to String" encoding="US-ASCII" mimeType="application/json"/>
        <set-session-variable variableName="flight_info" value="#[payload]" encoding="US-ASCII" mimeType="application/json" doc:name="Session Variable"/>
    </flow>
</mule>
